body { 
   background: url("../images/background.jpg");
   background-size: cover;
   height: 100%;
   z-index: 1;
   position: inherit;
   font-family: 'Permanent Marker', cursive;
}
.ui.input>input {

   font-family: 'Permanent Marker', cursive;
   margin-right: 2%;

  }

  .ui.container {
     padding-left: -5.5%;
     padding-top: 3%;
  }
 .ui.input.focus {
      padding-bottom: 2%;
      margin-right: 2%;
   }

   .ui.inverted.segment > .ui.inverted.button.blue.button {
      font-family: inherit;
      
   }

   .ui.inverted.button.blue.button {
      margin-bottom: 2%;
      background: black;
      color: #20a3d4;
      font-family: inherit;
   }

   .ui.inverted.button.blue.button:hover{
      background: #20a3d4;
      color: white;
   }
<<<<<<< HEAD

 
=======
   #select-location{
      visibility: visible;
   }
   input {
      margin: 25px;
   }
   #select-artist{
      visibility: visible;
   }
   #where {
      visibility: visible;
   }
   #keyword {
      visibility: visible;
   }
   #artist-input {
      visibility: visible;
   }
>>>>>>> 227a77089d50875b6f5f7233ab0d5e4b52b6435f
