body { 
   background: url("../images/background.jpg");
   background-size: cover;
   height: 100%;
   z-index: 1;
   position: fixed;
   font-family: 'Permanent Marker', cursive;
   background-repeat: no-repeat;
   z-index: 3;
   top: 0px;
   left: 0px;
}
#cardplace {
   overflow: scroll;
   position: fixed;
   top: 0;
   right: 0;
   width: 75%;
   height: 640px;
   float: left;
}
.button {
   width: 8em;
}
.card {
   line-height: 1rem;
   margin: 25px;
   float: left;
}
.ui.card {
   margin: 25px;
   text-align: center;
   margin-bottom: 0;
}
.ui.card:first-child {
   margin: 25px;
   text-align: center;
   margin-bottom: 0;
}
#biog {
   height: fit-content;
   line-height: 1rem;
   font-size: 75%;
}
#inputfields {
   width: 25%;
   margin-right: 0px;
}
.ui.input>input {

   font-family: 'Permanent Marker', cursive;
   margin-right: 2%;

  }
#container {
   max-width: 25%;
}

  .ui.container {
     padding-left: -1%;
     padding-top: 3%;
     margin-left: 0;
     max-width: 100px;
  }
 .ui.input.focus {
      padding-bottom: 2%;
      margin-right: 2%;
   }

   .ui.inverted.segment > .ui.inverted.button.blue.button {
      font-family: inherit;
      
   }

   .ui.inverted.button.blue.button {
      margin-bottom: 2%;
      margin-top: 2%;
      Margin-left:2%;
      background: black;
      color: #20a3d4;
      font-family: inherit;
   }

   .ui.inverted.button.blue.button:hover{
      background: #20a3d4;
      color: white;
   }
   #select-location{
      visibility: hidden;
   }
   input {
      margin-top: 25px;
      margin-bottom: 25px;
   }
   #select-artist{
      visibility: hidden;
   }
   #artist-div {
      width: 25rem;
   }
   #innputfields {
      margin: 0;
   }
   #where {
      visibility: hidden;
   }
   #keyword {
      visibility: hidden;
   }
   #artist-input {
      visibility: hidden;
   }
 .ui.centered.large.image {
    position: fixed;
    margin-top: -25%;
    margin-left: 33%;
 }
